<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="padding: 20px">
  <div class="container panel panel-default">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <h2>T.IO Image Detail</h2>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-danger">
          <div class="panel-body">
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>