<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="padding: 20px">
  <div class="container panel panel-default">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <h2>T.IO Image list</h2>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-danger">
          <div class="panel-body">
            {% for item in items %}
            <h4> <a href='/image/{{ item.repoName }}/{{ item.name }}/{{ item.tag }}'> {{ item.repoName }} - {{ item.name }} - {{ item.tag }} </a></h4>
            <p> Operating System: {{ item.os }}<br />
                Risk score: {{ item.score }}<br />
                Vulnerability Count: {{ item.numberOfVulns }}<br />
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>